body{
    display: grid;
    grid-template-columns: 20% 80%; 
    grid-template-areas: "nav header" "main main" "footer footer";
}



html{
    font-family: 'PT Sans', sans-serif;
}

nav{
    background-color: #2460A7FF;
    grid-area: nav;
    padding: 3ch;
}

.shownav{
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
border-radius: 0.1em;
}

header{
    grid-area: header;
    background-color: #2460A7FF;
    padding-left: 8ch;
    font-size: large;
    color: cornsilk;

}

main{
    padding-left: 2ch;
    grid-area: main;
    background-color: #85B3D1FF;
    font-size: large;
}

footer{
    grid-area: footer;
    background-color: rgb(0, 2, 36);
    color: cornsilk;
    padding-bottom: 5ch;
 padding-left: 1ch;
 text-align: right;

}



form{
    display:grid;
    width: 400px;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-gap: 0.6em;
}

.submit{
    grid-column: 2;
    }

a{
  text-decoration: none;
    color: black;
}

.columns{
    display: grid;
    grid-template-columns: 65%  35%;
}


aside{
    font-size: xx-large;
    padding: 1ch;
}

aside:target{
    grid-area: aside;
    background-color: #B3C7D6FF;
    position:fixed;
    top:0%;
    right:50%;
    width:50%;
    height: 110vh;
}